body {
  background-image: url('https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-US');
  background-repeat: no-repeat;
  background-size: cover !important;
  opacity: 0.95;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.note-header {
  padding-top: 20px;
}

.note-header .title {
  font-size: 14px;
  font-weight: bold;
}

.react-grid-layout {
  background: transparent;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
